/*.docx
/=*.*
.vscode
= drafts
= other people's examples
= template
AddInfobox.js
cookie.txt
coverage
gitignore/
IsReviewedTest.js
jsconfig.json
HideRollbackOnTemplates.js
Morebits/
node_modules
PendingChanges.js
PreviousNames.js
publish_old.php
publish.config.php
PurgeButton.js
RequestedArticleSifter