/*.docx
/=*.*
= drafts
= other people's examples
= template
AddInfobox.js
CiteHighlighter/CiteHighlighter.xlsx
CiteHighlighter/todo.txt
cookie.txt
HideRollbackOnTemplates.js
node_modules
PendingChanges.js
publish_old.php
publish.config.php
PurgeButton.js
RequestedArticleSifter